* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #D3B790;
  color: black;
  font: 400 18px "Roboto", sans-serif;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}